/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }

.reading-area {
  height: 600px;
  overflow: scroll;
}

.reading-current {
  color: blue;
  background-color: bisque;
  font-size : 1.5em;
}
.jumbotron {
  background-image: url("https://d1.awsstatic.com/training-and-certification/training-feature-graphics/1500x300_certification-banner.bda82d903763a56a4a20a58ff6f2a880562ed982.png");
  background-size: cover;}
